= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :タイトル,class:'font'
    = f.text_field :title,class:'registration-text'
  .field
    = f.label :ないよう,class:'font'
    = f.text_field :body,class:'registration-text'
  .field
    = f.label :開始日程,class:'font'
    = f.datetime_field :start_date, placeholder: "XXXX-XX-XX",class:'registration-text'
  .field
    = f.label :終了日程,class:'font'
    = f.datetime_field :end_date, placeholder: "XXXX-XX-XX",class:'registration-text'
  .actions
    = f.submit 'とうろく'
    
