%body.Show-body
  .SHow-main
    .Show-registration
      %h1.User-title CoCoA
      %h2.Show-title [くわしい ないよう]
      .Show-list
        %p#notice= notice

        %p.show-text
          %b タイトル:
          = @event.title
        %p.show-text
          %b ないよう:
          = @event.body
        %p.show-text
          %b はじまる日:
          = @event.start_date
        %p.show-text
          %b おわる日:
          = @event.end_date

        = link_to 'スケジュール変更（へんこう）', edit_event_path(@event)
        \|
        = link_to 'もどる', events_path


    -# コメント実装
    .Form-main
      .Form-comment
        %h4.Form-title
          【 
          %ruby
            日記 
            %rt にっき
          】
        = form_with(model:[@event,@comment], html: {id: "Form-c" }, local: true) do |form|
          .Form-comment__comment-content
            = form.text_field :name,class:"Form-comment__comment-content__comment-tag input-name", placeholder: "タイトル"
            .Form-comment__comment-content__temperature
              = form.label :temperature_id,"きょうのたいおん",class:'font'
              = form.collection_select :temperature_id,Temperature.all, :id, :name,class:"Form-comment__comment-content__temperature__temperature-box"
            = form.text_area :text,class:"Form-comment__comment-content__comment-tag input-text", placeholder: "ないよう"
            = form.submit "書き込む",class:"Form-comment__comment-content__comment-btn"
      .Comment
        .Comment__comment-box
          - if @comments
            - @comments.each do |comment|
              .Comment__comment-box__comment-answer
                .Comment__comment-box__comment-answer__answer-box
                  .Comment__comment-box__comment-answer__answer-box__answer-name
                    = comment.name
                  .Comment__comment-box__comment-answer__answer-box__answer-temperature
                    - if comment.temperature_id >= 26
                      【 たいおん：× 】
                    - else
                      【 たいおん：◎ 】
                .Comment__comment-box__comment-answer__answer-text
                  = comment.text
              .Comment__comment-box__answer-delete
                = link_to 'さくじょ', comment, method: :delete, data: { confirm: '削除（さくじょ）してよろしいですか？' }
